{% extends "home/unknownbase.html" %}
{% load staticfiles %}
{% block body_unknownbase %}
    <a href="{% url 'peoples:make_request' %}">Request for help</a><br>
    <a href="{% url 'peoples:person_finder'%}">Find Missing Person</a><br>
    <a href="{% url 'peoples:all_shelters'%}">Relief Camps</a><br>
    <a href="{% url 'peoples:all_request'%}">Registered Requests</a><br>
    <a href="{% url 'peoples:volunteering'%}">Volunteer and NGO</a><br>
    <a href="{% url 'map:overview'%}">MAPS</a><br>

    <a href="{% url 'peoples:make_request' %}"></a><br>
{% endblock %}
