<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        div{
            height:200px;
            width:200px;
            border:solid;
            border-width:3px;
            display:inline-block;
            text-align: center;
        }
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>


    <div >
        <br><br><br>
        <i class="fa fa-users" style="font-size:80px;" ></i><br><br>
       <a href="{% url 'peoples:main_page'%}">People</a><br>
    </div>
    <div >
        <br><br><br>
        <i class="fa fa-globe" style="font-size:80px;"></i><br><br>
        <a href="{% url 'map:overview'%}">Maps</a><br>
    </div>
    <div>
        <br><br><br>
        <i class="fa fa-user-secret" style="font-size:80px;"></i><br><br>
        <a href="{% url 'peoples:search_missing_person'%}">Search Missing Person</a><br>
    </div>
    <div>
        <br><br><br>
        <i class="fa fa-address-card" style="font-size:80px;"></i><br><br>
        <a href="{% url 'peoples:volunteer_regist'%}">Volunteer Registration</a><br>
    </div>
    <div>
        <br><br><br>
        <i class="fa fa-university" style="font-size:80px;"></i><br><br>
        <a href="{% url 'peoples:ngo_regist'%}">NGO Registration</a><br>
    </div>
</body>
</html>