<!doctype html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
		<style>
			input,textarea{
				margin:5px;
			}
		</style>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

	</head>
	<body>
    <!--<form method="POST" style="width:120%;position:relative;">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button type = "submit">Post</button>-->
    <!--</form>-->
		<form method="POST" style="border:solid;border-width:3px;padding:20px;display:inline-block;text-align: center;">
			{% csrf_token %}
            <input type="text" name="name" placeholder="Shelter Name" size="30" required><br>
			<input id="address" type="text" name="address" size="30" placeholder="Village/City"><br>
            <input type="text" name="capacity" placeholder="Capacity" size="30"><br>
			<input id="lat" type="text" name="location_log" size="30" placeholder="Latitude"><br>
			<input id="long" type="text" name="location_lat" size="30" placeholder="Longitude"><br>
			<input type="submit" value="Submit" width=30/>
		</form>
		<div id="th"></div>
		<script>
			$( "#address" ).focusout(function() {
			  var uri="http://dev.virtualearth.net/REST/v1/Locations/";
			  uri=uri+$( this ).val();
			  uri=uri+"?o=json&key=Ak1Niz5T-7wp9lrVRb1kGtNm46vCML3OAkAiAL_7mPQWFe2N253Jw5E5lDl2y0kK";
			  $.ajax({
			  	url:uri,
			  	success: function(result){
					console.log(result);
					var coordinates=result['resourceSets'][0]['resources'][0]['point']['coordinates'];
					$("#lat").val(coordinates[0]);
					$("#long").val(coordinates[1]);
				       },
				error:function(){
					console.log("faild");
				    }
			  });
			});

		</script>
	</body>
</html>