<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shelters List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
				background-color:#f2f2f2;
			}
    </style>
</head>
<body>
<br><br><br>
<div class="container" style="border:solid;border-width;">
  <h2>Request List</h2>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone No</th>
        <th>Need</th>
      </tr>
    </thead>
    <tbody>
        {% for request in requests %}
            <tr>
                <td>{{request.requestee_name}}</td>
                <td>{{request.requestee_location}}</td>
                <td>{{request.requestee_phone_no}}</td>
                <td>{{request.need}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
