{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shelters List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
				background-color:#f2f2f2;
			}
    </style>
</head>
<body>

<div class="container" style="border:solid;border-width;">
  <h2>Shelters List</h2>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Resouces Available</th>
        <th>Total Capacity</th>
        <th>Available Capacity</th>
      </tr>
    </thead>
    <tbody>
        {% for shelter in shelters %}
            <tr>
                <td>{{shelter.name}}</td>
                <td>{{shelter.location}}</td>
                <td>{{shelter.resource_left}}</td>
                <td>{{shelter.capacity}}</td>
                <td>{{shelter.used_capacity}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
