<!doctype html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
		<style>
			input,textarea{
				margin:5px;
			}
			body{
				background-color:#f2f2f2;
			}
			div{
				background-color:white;
			}
		</style>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

	</head>
	<body>
	<div style="border:solid;border-width:1px;position:absolute;left:30%;top:15%;diplay:inline-block;">
		<form method="POST" style="border:solid;border-width:3px;padding:20px;display:inline-block;text-align: center;">
			<h1>Request For Help</h1>
			{% csrf_token %}
            <input type="text" name="requestee_name" placeholder="Name" size="30" required><br>
            <input id="address" type="text" name="requestee_location" placeholder="Village/City" size="30" required><br>
            <input type="text" name="requestee_phone_no" size="30" placeholder="Phone No" required><br>
			<input id="lat" type="text" name="location_lat" size="30" placeholder="Latitude" required><br>
			<input id="long" type="text" name="location_log" size="30" placeholder="Longitude" required><br>
            <select name="need">
                <option value="resuce">Need Rescue</option>
                <option value="resource">Need Resources</option>
                <option value="both">Need Resue and Resources</option>
            </select><br>
            <input type="submit" value="Submit" width=30/>
		</form>
	</div>
		<script>
			$( "#address" ).focusout(function() {
			  var uri="http://dev.virtualearth.net/REST/v1/Locations/";
			  uri=uri+$( this ).val();
			  uri=uri+"?o=json&key=Ak1Niz5T-7wp9lrVRb1kGtNm46vCML3OAkAiAL_7mPQWFe2N253Jw5E5lDl2y0kK";
			  $.ajax({
			  	url:uri,
			  	success: function(result){
					console.log(result);
					var coordinates=result['resourceSets'][0]['resources'][0]['point']['coordinates'];
					$("#lat").val(coordinates[0]);
					$("#long").val(coordinates[1]);
				       },
				error:function(){
					console.log("faild");
				    }
			  });
			});

		</script>
	</body>
</html>