<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

    <!-- Reference to the Bing Maps SDK -->
    <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap'
            async defer></script>

    <script type='text/javascript'>
    function GetMap()
    {
        var map = new Microsoft.Maps.Map('#myMap',{
            credentials: 'Ak1Niz5T-7wp9lrVRb1kGtNm46vCML3OAkAiAL_7mPQWFe2N253Jw5E5lDl2y0kK',

        });
        var locs=[];
        {% for location in locations %}
            locs.push(new Microsoft.Maps.Location({{location.0}},{{location.1}}));
        {% endfor %}
        //var locs = [new Microsoft.Maps.Location(51.50632, -0.12714),new Microsoft.Maps.Location(21.50632, -0.12714),new Microsoft.Maps.Location(51.50632, 1.12714)];
        var rect = Microsoft.Maps.LocationRect.fromLocations(locs);//give a boundary inclosing all locs so that all can be shown on the screen

        map.setView({ bounds: rect, padding: 80 });
        Microsoft.Maps.loadModule('Microsoft.Maps.SpatialMath', function () {
            {% for loc in locations %}
                var center = new Microsoft.Maps.Location({{loc.0}}, {{loc.1}});
                var circle1 = createCircle(center, 10, 'rgba(0,0,150,0.5)');
                map.entities.push(circle1);

                var circle2 = createCircle(center, 20, 'rgba(0,0,150,0.4)');
                map.entities.push(circle2);
                var circle3 = createCircle(center, 30, 'rgba(0,0,150,0.3)');
                map.entities.push(circle3);
                var circle4 = createCircle(center, 40, 'rgba(0,0,150,0.2)');
                map.entities.push(circle4);
                var circle5 = createCircle(center, 50, 'rgba(0,0,150,0.1)');
                map.entities.push(circle5);
            {% endfor %}
        });
    }
    function createCircle(center, radius, color) {
        //Calculate the locations for a regular polygon that has 36 locations which will rssult in an approximate circle.
        var locs = Microsoft.Maps.SpatialMath.getRegularPolygon(center, radius, 36, Microsoft.Maps.SpatialMath.DistanceUnits.Miles);
        return new Microsoft.Maps.Polygon(locs, { fillColor: color, strokeThickness: 0 });
    }
    </script>
    <script>
        $(document).ready(function(){
            console.log("asda");
           $("#myMap").css("height", String(screen.height*0.7));
        });
    </script>
</head>
<body>
    <h3>Flooded area and locations</h3>

    <div id="myMap" style="position:relative;width:80%;height:820px;border:solid;border-width:2px;margin:0 auto;"></div>
</body>
</html>

