<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        $(document).ready(function(){
            console.log("asda");
           $("#myMap").css("height", String(screen.height*0.7));
        });
    </script>


</head>
<body>
    <h3>Multiple path routing simultaneously</h3>
    <div id="myMap" style="position:relative;width:80%;height:820px;border:solid;border-width:2px;margin:0 auto;"></div>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ak1Niz5T-7wp9lrVRb1kGtNm46vCML3OAkAiAL_7mPQWFe2N253Jw5E5lDl2y0kK' async defer></script>

	<script type='text/javascript'>
		var routes_detail;
		function posts(uri) {
			$.ajax({
				url: uri,
				async: false,
				success: function(result){
						if(result['status']=="finished"){  //if new_posts.php echo something.
							//console.log(result);
							if(result['solution']['no_unassigned']==0){
								//console.log(result['solution']['routes']);
								routes_detail=result['solution']['routes'];
							}
							else{
								$("body").append("Sorry you need to provide some more vehicles for routing");
							}

						}else{
							posts(uri);  //calling the ajax again.
						}
					   },
				error:function(){
						console.log("faild");
					}
			});
		}
		$(function () {
			var job_id;
			var customer = {
			    "vehicles": [{
				    "vehicle_id": "vehicle1",
				    "start_address": {
					"location_id": "v1_erfurt",
					"lon": 11.028771,
					"lat": 50.977723
				    },
				    "type_id": "vehicle_type_1"
				},
				{
				    "vehicle_id": "vehicle3",
				    "start_address": {
					"location_id": "v3_erfurt",
					"lon": 10.028771,
					"lat": 49.977723
				    },
				    "type_id": "vehicle_type_1"
				},
				{
				    "vehicle_id": "vehicle4",
				    "start_address": {
					"location_id": "v4_erfurt",
					"lon": 13.028771,
					"lat": 47.977723
				    },
				    "type_id": "vehicle_type_1"
				},
				{
				    "vehicle_id": "vehicle2",
				    "start_address": {
					"location_id": "v2_erfurt",
					"lon": 11.028771,
					"lat": 50.977723
				    },
				    "type_id": "vehicle_type_1"
				}],
			    "vehicle_types": [{
				    "type_id": "vehicle_type_1",
				    "profile": "car",
				    "capacity": [3]
				}],
			    "services": [
				{
				    "id": "b1",
				    "name": "drink_bionade_in_magdeburg",
				    "address": {
					"location_id": "loc_b1",
					"lon": 11.645508,
					"lat": 52.126744
				    },
				    "size": [1]
				},
				{
				    "id": "b2",
				    "name": "drink_cola_in_berlin",
				    "address": {
					"location_id": "loc_b2",
					"lon": 13.354568,
					"lat": 52.514549
				    },
				    "size": [1]
				},
				{
				    "id": "b3",
				    "name": "drink_juice_in_ulm",
				    "address": {
					"location_id": "loc_b3",
					"lon": 9.990692,
					"lat": 48.398209
				    },
				    "size": [1]
				},
				{
				    "id": "b4",
				    "name": "drink_nothing_in_dresden",
				    "address": {
					"location_id": "loc_b4",
					"lon": 13.738403,
					"lat": 51.050028
				    },
				    "size": [1]
				},
				{
				    "id": "b5",
				    "name": "drink_wine_in_kassel",
				    "address": {
					"location_id": "loc_b5",
					"lon": 9.486694,
					"lat": 51.31173
				    },
				    "size": [1]
				},
				{
				    "id": "b6",
				    "name": "drink_beer_in_dortmund",
				    "address": {
					"location_id": "loc_b6",
					"lon": 7.500916,
					"lat": 51.508742
				    },
				    "size": [1]
				},
				{
				    "id": "b7",
				    "name": "drink_water_in_karlsruhe",
				    "address": {
					"location_id": "loc_b7",
					"lon": 8.3858333,
					"lat": 49.0047222
				    },
				    "size": [1]
				},
				{
				    "id": "b8",
				    "name": "drink_fish_in_bremen",
				    "address": {
					"location_id": "loc_b8",
					"lon": 8.822021,
					"lat": 53.041213
				    },
				    "size": [1]
				},
				{
				    "id": "b9",
				    "name": "drink_somethingelse_in_hof",
				    "address": {
					"location_id": "loc_b9",
					"lon": 11.8927,
					"lat": 50.310392
				    },
				    "size": [1]
				}, {
				    "id": "b10",
				    "name": "drink_mainz",
				    "address": {
					"location_id": "loc_b10",
					"lon": 8.278198,
					"lat": 50.00067
				    },
				    "size": [1]
				}, {
				    "id": "b11",
				    "name": "drink_schwerin",
				    "address": {
					"location_id": "loc_b11",
					"lon": 11.447754,
					"lat": 53.618579
				    },
				    "size": [1]
				}
			    ]
			};
			$.ajax({
				type: "POST",
				data :JSON.stringify(customer),
				url: "https://graphhopper.com/api/1/vrp/optimize?key=be68b09c-3479-4641-80ca-73f737a3b633",
				contentType: "application/json",
				async: false,
				success: function(result){
						//console.log(result);
						job_id=result['job_id'];
					   },
				error:function(){
						console.log("faild");
					}
			});

			var uri="https://graphhopper.com/api/1/vrp/solution/";
			uri=uri+job_id;
			uri=uri+"?key=be68b09c-3479-4641-80ca-73f737a3b633";
			posts(uri);
		});



		var map, sessionKey;
		function GetLocation(lat,long){
			var address;
			var uri="https://nominatim.openstreetmap.org/reverse?format=json&lat=";
			uri=uri+String(lat);
			uri=uri+"&lon=";
			uri=uri+String(long);
			uri=uri+"&zoom=18&addressdetails=1";
			$.ajax({
				url: uri,
				async: false,
				success: function(result){
						address=result['display_name'];
					   },
				error:function(){
						console.log("faild");
					}
			});
			return address;

		}
		function GetMap()
		{
			var maxLat=-10000;
			var maxLong=-10000;
			var minLat=10000;
			var minLong=10000;
			map = new Microsoft.Maps.Map('#myMap', {
				center: new Microsoft.Maps.Location(47.7, -122.14),
				zoom: 10
			});
			map.getCredentials(function (c) {
				sessionKey = c;
				//Generate some routes.
				var i
				for(i=0;i<routes_detail.length;i++){
					var color=getRandomColor();
					var curr_route=routes_detail[i]['activities'];
					var j;
					for(j=1;j<curr_route.length;j++){
						var lat1=curr_route[j-1]['address']['lat'];
						var lat2=curr_route[j]['address']['lat'];
						var long1=curr_route[j-1]['address']['lon'];
						var long2=curr_route[j]['address']['lon'];
						var curr_address=GetLocation(lat1,long1);
						var curr_address2=GetLocation(lat2,long2);
						getRoute(curr_address,curr_address2,color,j,curr_route.length);
					}
				}

			});
			for(i=0;i<routes_detail.length;i++){
					var curr_route=routes_detail[i]['activities'];
					var j;
					for(j=1;j<curr_route.length;j++){
						var lat1=curr_route[j-1]['address']['lat'];
						var lat2=curr_route[j]['address']['lat'];
						var long1=curr_route[j-1]['address']['lon'];
						var long2=curr_route[j]['address']['lon'];
						if(lat1+1>maxLat){
						    maxLat=lat1+2;
						}
						if(long1+1>maxLong){
						    maxLong=long1+2;
						}
						if(long1-1<minLong){
						    minLong=long1-2;
						}
						if(lat1-1<minLat){
						    minLat=lat1-2;
						}
						if(lat2+1>maxLat){
						    maxLat=lat2+2;
						}
						if(long2+1>maxLong){
						    maxLong=long2+2;
						}
						if(long2-1<minLong){
						    minLong=long2-2;
						}
						if(lat2-1<minLat){
						    minLat=lat2-2;
						}
					}
				}
			var box=new Microsoft.Maps.LocationRect.fromEdges(maxLat,minLong,minLat,maxLong);
			map.setView({ bounds: box, padding: 0.5,});
		}
		function getRoute(start, end, color,number,max_number) {
		//Calculate a route between the start and end points.
		var routeRequest = 'https://dev.virtualearth.net/REST/v1/Routes/Driving?wp.0=' + encodeURIComponent(start) + '&wp.1=' + encodeURIComponent(end) + '&ra=routePath&key=' + sessionKey;
		CallRestService(routeRequest, function (response) {
		    if (response &&
		       response.resourceSets &&
		       response.resourceSets.length > 0 &&
		       response.resourceSets[0].resources) {
			var route = response.resourceSets[0].resources[0];
			var routePath = route.routePath.line.coordinates;
			//Generate an array of locations for the route path.
			var locs = [];
			for (var i = 0, len = routePath.length; i < len; i++) {
			    locs.push(new Microsoft.Maps.Location(routePath[i][0], routePath[i][1]));
			}
			//Draw the route line.
			var line = new Microsoft.Maps.Polyline(locs, { strokeColor: color, strokeThickness: 3 });
			map.entities.push(line);
			//Add start and end pushpins.
			var startLoc = new Microsoft.Maps.Location(route.routeLegs[0].actualStart.coordinates[0], route.routeLegs[0].actualStart.coordinates[1]);
			var col='blue';
			if(number%max_number==1)col='green';
			var startPin=new Microsoft.Maps.Pushpin(startLoc, { text: String(number), color:col,title:"push",description:"positions"});
			Microsoft.Maps.Events.addHandler(startPin, 'click', pushpinClicked);
			map.entities.push(startPin);
			var endLoc = new Microsoft.Maps.Location(route.routeLegs[0].actualEnd.coordinates[0], route.routeLegs[0].actualEnd.coordinates[1]);
			col='blue';
			if(number+1==max_number){
				col='green';
				number=0;
			}
			var endPin=new Microsoft.Maps.Pushpin(endLoc, { text: String((number+1)), color:col,title:"push",description:"positions"});
			//var endPin = new Microsoft.Maps.Pushpin(endLoc, { icon: '/Common/images/pushpins/endPin.png', anchor: new Microsoft.Maps.Point(2, 42) });
			Microsoft.Maps.Events.addHandler(endPin, 'click', pushpinClicked);
			map.entities.push(endPin);
		    }
		});
		function pushpinClicked(e) {
			//Make sure the infobox has metadata to display.
			if (e.target.metadata) {
			    //Set the infobox options with the metadata of the pushpin.
			    infobox.setOptions({
				location: e.target.getLocation(),
				title: e.target.metadata.title,
				description: e.target.metadata.description,
				visible: true
			    });
			}
		    }
		}
		function createFontPushpin(location, text, fontName, fontSizePx, color) {
			var c = document.createElement('canvas');
			var ctx = c.getContext('2d');

			//Define font style
			var font = fontSizePx + 'px ' + fontName;
			ctx.font = font

			//Resize canvas based on sie of text.
			var size = ctx.measureText(text);
			c.width = size.width;
			c.height = fontSizePx;

			//Reset font as it will be cleared by the resize.
			ctx.font = font;
			ctx.textBaseline = 'top';
			ctx.fillStyle = color;

			ctx.fillText(text, 0, 0);

			return new Microsoft.Maps.Pushpin(location, {
			    icon: c.toDataURL(),
			    anchor: new Microsoft.Maps.Point(c.width / 2, c.height / 2) //Align center of pushpin with location.
			});
		}
		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
			color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		}
		function CallRestService(request, callback) {
			if (callback) {
			    //Create a unique callback function.
			    var uniqueName = getUniqueName();
			    request += '&jsonp=' + uniqueName;
			    window[uniqueName] = function (response) {
				callback(response);
				delete (window[uniqueName]);
			    };
			    //Make the JSONP request.
			    var script = document.createElement("script");
			    script.setAttribute("type", "text/javascript");
			    script.setAttribute("src", request);
			    document.body.appendChild(script);
			}
		}
		function getUniqueName() {
			var name = '__callback' + Math.round(Math.random() * 100000);
			while (window[name]) {
			    name = '__callback' + Math.round(Math.random() * 100000);
			}
			return name;
		}
	</script>
</body>
</html>